 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
li{
  list-style:none;
  @include span-columns(3);
  @include omega(3n);
  border:1px solid red;
  background-color:white;
  border-spacing:15px;
  width:224px;
  font-family: arial,helvetica,sans-serif;
  font-size:12px;
}
body {
  background:HSLA(60, 17%, 95%, 1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin-left:0px;
}

section{
  @include outer-container;
}

img{
  width: 100%;
  height: 170px;
  display: inline-block;
  border: 5px solid white;
}

.truncate{
  width: 200px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
