 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
li{
  list-style:none;
  @include span-columns(3);
  @include omega(3n);

}
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin-left:0px;


}

section{
  @include outer-container;
}

img{
  width: 214px;
  height: 170px;
}
